* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}

h3 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}

.titre {
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}

.sous-titre {
    height: 100%;
    width: 100%;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;

}

img {
    text-align: center;
    width: 900px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.subtitle {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 1px 2px black;
}

.resume {
    display: flex;
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    height: 90%;
    background-color: #f2f2f2;
    padding-top: 25px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.list {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: times;
    font-size: 25px;
}

.distribution {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: times;
    font-size: 25px;
    text-align: center;
}

.biographie {
    margin-top: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h2 {
    padding-top: 50px;
}

.lino {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);

}

.blier {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);

}

.bourvil {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);

}

.container-img {
    background-color: #f2f2f2;
    border-radius: 0;
    width: 100%;
}

.centered {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

.repliques {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    text-align: center;
    display: flex;
    font-size: 50px;
    font-weight: 200;
    text-decoration: none;
    display: block;
    color: black;
    margin-top: 50px;
    margin-left: 9%;
    margin-right: 9%;

}

a:hover {
    background-color: gold;
}

.bio {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    text-align: center;
    display: flex;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    display: block;
    color: black;
    padding: 2rem 25rem;

}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.filmographie {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    text-align: center;
    display: flex;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    display: block;
    color: black;
    margin-top: 50px;
}

/*.lists {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    text-align: center;
    display: flex;
    font-size: 20px;
    display: block;
    color: black;
    margin-top: 50px;
}*/

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    position: absolute;
    font-size: 2rem;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}  


.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, #008f68, #fae042) 1;
}


/*.accordion-item-header.active + .accordion-item-body {
   max-height: 1000px;
}*/

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
}